body{

margin:0;
font-family:Poppins;
background:url("../images/bg.jpg");
background-size:cover;
background-position:center;
color:white;
transition:0.4s;

}

.dark{

background:#0f172a;

}

.navbar{

position:fixed;
width:100%;
background:rgba(0,0,0,0.5);
backdrop-filter:blur(10px);
display:flex;
justify-content:space-between;
padding:20px;

}

.logo{

font-weight:700;
font-size:22px;

}

nav a{

margin:10px;
color:white;
text-decoration:none;

}

.hero{

height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
background:

linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)),
url("../images/hero.jpg");

background-size:cover;

}

.hero h1{

font-size:50px;

}

.btn{

display:inline-block;
margin-top:20px;
padding:15px 30px;
background:linear-gradient(45deg,#0ea5e9,#2563eb);
border-radius:50px;
text-decoration:none;
color:white;

}

.cards{

display:flex;
gap:20px;
padding:100px;
justify-content:center;

}

.card{

background:rgba(255,255,255,0.1);
padding:30px;
border-radius:20px;
backdrop-filter:blur(10px);
box-shadow:0 10px 30px rgba(0,0,0,0.5);

}

.fade{

opacity:0;
transform:translateY(30px);
transition:1s;

}

.fade.show{

opacity:1;
transform:translateY(0);

}

.whatsapp{

position:fixed;
bottom:20px;
right:20px;
background:#25d366;
padding:15px;
border-radius:50%;
cursor:pointer;

}

.dark-toggle{

background:none;
border:none;
color:white;
font-size:20px;
cursor:pointer;

}
